default:
  suites:
    default:
      mink_session: default
      mink_javascript_session: javascript
      paths:
        - features/Epics/
      filters:
          tags: ~@skip
      contexts:
        - Behat\MinkExtension\Context\MinkContext
        - BehatSelenium\Context\FeatureContext
  extensions:
    Behat\MinkExtension:
      base_url: 'https://en.wikipedia.org/'
      sessions:
        default:
          selenium2:
            browser: chrome
            capabilities: { "browserName": "chrome", "browser": "chrome", 'chrome': {'switches':['--no-sandbox']}}
        javascript:
          selenium2:
            browser: chrome
            capabilities: { "browserName": "chrome", "browser": "chrome", 'chrome': {'switches':['--no-sandbox']}}
        goutte:
          goutte: ~
      default_session: default
      javascript_session: javascript
      browser_name: chrome
      show_auto: true
      show_cmd: open %s
      files_path: 'files'